.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 34rem;
    height: 12rem;
}

.headermenu{
    list-style: none;
    display: flex ;
    gap: 2rem;
    color: rgb(45, 26, 26);
}
.headermenu>li{
    cursor: pointer;
    font-style: italic;
    font-weight: bolder;
}
.headermenu>li:hover{
    color: aqua;
    cursor: pointer;
}